html {
  font-size: 20px;
}

body {
  font-family: "Arial","Meiryo",sans-serif;
}

h1 {
  font-size: 2rem;
  font-family: "Josefin Sans",sans-serif;
  text-align: center; 
  text-shadow: 1px 1px 2px blue;
  letter-spacing: 1.2em;
  border-bottom: solid 3px; color: rgb(115,115,114);
}

.text-blue {
color: skyblue;
}

.text-pink{
  color: rgb(255,192,203);
}

#basic.bold-text {
  font-weight: bold;
}

h2 { 
  text-align: center; 
}

p {
  text-align: center; 
}

#parent P {
 font-weight: bold;
}


 

